<app-banner></app-banner><br><br>
<div class="content">
  <p>
    Bienvenido, <br><br>
    <strong>Api personas</strong> <br><br>
    Esta solución le brindara información detallada sobre las personas registradas en la Base de Datos xxxx una busqueda por tipo, erial de cada uno de los mismos<br><br>
  </p>

  <div class="table-responsive">
    <table class="table table-striped table-hover table-bordered align-middle ">
        <thead>
          <tr>
            <th class="text-center align-middle"><strong>id</strong></th>
            <th class="text-center align-middle"><strong>Nombre</strong></th>
            <th class="text-center align-middle"><strong>Apellido</strong></th>
            <th class="text-center align-middle"><strong>Empleado</strong></th>
        </thead>

        <tbody>
          <tr *ngIf="active.length == 0">
            <td colspan="15">No hay registros cargados</td>
          </tr>
          <tr *ngFor="let r of active; let k = index;">
            <td style="font-size: 18px!important; width: 5%" class="text-center align-middle">{{r.id}}</td>
            <td style="font-size: 18px!important; width: 5%" class="text-center align-middle">{{r.name}}</td>
            <td style="font-size: 18px!important; width: 5%" class="text-center align-middle">{{r.lastName}}</td>
            <td style="font-size: 18px!important; width: 5%" class="text-center align-middle">{{r.dni}}</td>
            <td style="font-size: 18px!important; width: 10%"class="text-center align-middle">{{r.employee}}</td>
          </tr>
    </table>
  </div>

  <div>
    <p>Seleccione Busqueda</p>

    <select [(ngModel)]="busqueda" class="form-select" aria-label="Default select example" >
      <option value="1">ID</option>
      <option value="2">Nombre</option>
      <option value="3">Apellido</option>
    </select>

    <div *ngIf="busqueda==1"><br><br>
      <p>Ingresa que tipo de Activo deseas Filtar</p>
      <select [(ngModel)]="this.busquedaTipo" class="form-select" aria-label="Default select example" >
        <option value="1">Maquinaria</option>
        <option value="2">Mueble</option>
      </select>
      <br>

      <button (click)="searchType(this.busquedaTipo)" mat-raised-button color="primary">Consultar</button>

      <br><br>
      <div class="table-responsive" *ngIf=" (this.busquedaTipo ==1 || this.busquedaTipo ==2 ) && showTableType == true ">
        <table class="table table-striped table-hover table-bordered align-middle ">
            <thead>
              <tr>
                <th colspan="2" class="centerText">id</th>
                <th colspan="3" class="centerText">Nombre</th>
                <th colspan="8" class="centerText">Apellido</th>
                <th colspan="8" class="centerText">Empleado</th>
              </tr>
              <tr>
                <th class="text-center align-middle"><strong>id</strong></th>
                <th class="text-center align-middle"><strong>Nombre</strong></th>
                <th class="text-center align-middle"><strong>Apellido</strong></th>
                <th class="text-center align-middle"><strong>Empleado</strong></th>
            </thead>

            <tbody>
              <tr *ngIf="active.length == 0">
                <td colspan="15">No hay registros cargados</td>
              </tr>
              <tr *ngFor="let r of active; let k = index;">
                <td style="font-size: 18px!important; width: 5%" class="text-center align-middle">{{r.id}}</td>
                <td style="font-size: 18px!important; width: 5%" class="text-center align-middle">{{r.name}}</td>
                <td style="font-size: 18px!important; width: 5%" class="text-center align-middle">{{r.lastName}}</td>
                <td style="font-size: 18px!important; width: 10%"class="text-center align-middle">{{r.dni}}</td>
                <td style="font-size: 18px!important; width: 10%"class="text-center align-middle">{{r.employee}}</td>
              </tr>
        </table>
        <app-crud></app-crud>
      </div>
    </div>

    <div *ngIf="busqueda==2"><br><br>
      <p>haz seleccinado Fecha</p>
      <p>Ingresa la fecha en la cual se compro el activo</p>
      <input matInput [matDatepicker]="picker" [(ngModel)]="this.busquedaFecha">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <br>
      <button (click)="searchDate()" mat-raised-button color="primary">Consultar</button>
      <app-crud></app-crud>
    </div>

    <div *ngIf="busqueda==3"><br><br>
      <p>Ingresa el ID del Empleado</p>
      <input type="number" [(ngModel)]="this.busquedaSerial" required>
      <br><br>
      <button (click)="searchSerie()" mat-raised-button color="primary">Consultar</button>
      <app-crud></app-crud>
    </div>
  </div>
</div>
<br><br>
<app-footer></app-footer>
